<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Generic Blog</title>
</head>
<body>
<header th:replace="layout :: site-header"/>


<!-- Page Content -->
<div class="container">

    <div class="row" th:each="p : ${allPosts}">

        <!-- Blog Entries Column -->
        <div class="col-md-8">


            <h2>
                <span th:text="${p.title}"></span>
            </h2>
            <p class="lead">
                by <span th:text="${p.author.fullName != null ? p.author.fullName : p.author.username}"></span>
            </p>
            <span class="glyphicon glyphicon-time" th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}"></span>
            <hr/>
            <img class="img-responsive" src="http://placehold.it/900x300" alt=""/>
            <hr/>
            <span th:utext="${p.body}"><p></p></span>
            <span th:if="${session.currentUser != null}" th:switch="${p.author.username}">
                <a th:href="@{'/posts/view/' + ${p.id}}">Comment</a>
            </span>
            <span th:if="${session.currentUser != null}" th:switch="${p.author.username}">
                <a th:href="@{'/posts/delete/' + ${p.id}}" th:case="${currentUser}">Delete</a>
            </span>
            <span th:if="${session.currentUser != null}" th:switch="${p.author.username}">
                <a th:href="@{'/posts/edit/' + ${p.id}}" th:case="${currentUser}">Edit</a>
            </span>

            <hr/>


        </div>


    </div>





</div>



<footer th:replace="layout :: site-footer"/>
</body>
</html>