<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Create Post</title>
</head>

<body>

<header th:replace="layout :: site-header" />



<div class="grid">
    <div class="row cells3">
    <div class="cell"></div>
    <div class="cell">
        <h1>Edit Post</h1>
        <form th:method="PUT" th:object="${editPost}" id="form">
        <div><label for="title">Title:</label></div>
        <input id="title" type="text" name="title" th:value="${post.title}" />


        <div><label for="body">Body:</label></div>
            <textarea rows="4" cols="50" name="body"  th:value="${post.body}" form="form" th:text="${post.body}"></textarea>

        <div><input type="submit" value="Edit"/></div>
    </form>
    </div>
    <div class="cell"></div>
</div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>