<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<div class="grid">
    <div class="row cells6">
        <div class="cell"></div>
        <div class="cell colspan4">
            <main id="posts">
                <article>
                    <h2 class="title" th:text="${post.title}">Post Title</h2>
                    <div class="date">
                        <i>Posted on</i>
                        <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
                        <span th:if="${post.author}" th:remove="tag">
                    <i>by</i>
                    <span th:text="${post.author.fullName != null ?
                                     post.author.fullName : post.author.username}">Svetlin Nakov</span>
                    </span>
                    </div>
                    <p class="content" th:utext="${post.body}">Post content</p>
                    <span th:switch="${post.author.username}">
                            <a th:href="@{'/posts/edit/' + ${post.id}}" th:case="${currentUser}">Edit</a>
                        </span>
                    <span th:switch="${post.author.getUsername()}">
                            <a th:href="@{'/posts/delete/' + ${post.id}}" th:case="${currentUser}">Delete</a>
                        </span>
                    <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                        <form method="get">
                        <a th:href="@{'/posts/like/'+ ${post.id}}"><img class="manImg" height="25" width="25" src="/img/likeico.png" ></img></a>

                        </form>
                        <!-- <div class="likes" th:object="${likesCount}">
                              <span class="likesCount" th:text="${likesCount.likes}"></span>
                          </div>-->
                    </span>
                </article>

                <div >
                    <h1>Comments:</h1>
                    <table>
                        <tbody class="table-hover" >
                        <tr th:each="comment : ${commentList}">
                            <td class="text-left" th:text = "${comment.comment}"></td>
                            <td class="text-left" th:text = "${comment.date}"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <h1>Create Comment:</h1>
                <form action="#" th:object="${comment}" method="post">
                    <input type="text" th:field="*{comment}" id="createComment" name="createComment"/>
                    <input type="submit" />
                </form>
            </main>
        </div>
        <div class="cell"></div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>